@import "~juicyfront/styles/mixins";

@mixin shimmer($size: 600px, $duration: 1s) {
  background-image: linear-gradient(to right, var(--background-secondary) 0%, #edeef1 20%, #f6f7f8 40%, var(--background-tertiary) 100%);
  background-repeat: no-repeat;
  background-size: $size 100%;
  position: relative;

  animation-duration: $duration;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeholderShimmer;
  animation-timing-function: linear;

  @keyframes placeholderShimmer {
    0% {
      background-position: calc(-#{$size}/2) 0;
    }

    100% {
      background-position: calc(#{$size}/2) 0;
    }
  }
}
